.top {
  display: inline-flex;
}
.nombre {
  font-size: 65px;
  background-color: rgb(78, 163, 123);
  margin-bottom: 80px;
  margin-top: 80px;
}
.correo {
  font-size: 25px;
}
.foto {
  width: 20%;
  height: 20%;
  margin: 1%;
  border: solid 2px rgb(25, 71, 11);
}
.sobremi {
  text-align: center;
  margin: 10px;
}
.educ {
  text-align: center;
  color: black;
}
p {
  font-size: 25px;
}
.liceo img{
  width: 25%;
  display:flex;
  border: solid 5px black;
}
.mitad1{
  border: solid 1px black;
  display: inline-flex;
}
.cualidades{
  font-size: 25px;
}